.snipit-count {
	background: #009bcf;
	border-radius: 4px;
	color: #fff;
	font-family: Georgia;
	font-size: 11px;
	left: -3px;
	opacity: 1;
	padding: 5px;
	position: absolute;
	top: -3px;

	.number {
		display: none;
	}
}

.snipit-fragment:hover {
	cursor: pointer;
	text-decoration: underline;
}

.snipit-fragment:hover .snipit-count {
	left: -12px;
	opacity: 0.9;
	top: -12px;
}

.snipit-fragment:hover .snipit-count .number {
	display: inline;
}