.snipit-flyout {
	.content {
		border-right: 1px dotted #ededed;
		float: left;
		padding: 2%;
		width: 76%;

		.headline {
			margin: 0 0 2% 0;

			a {
				color: #333;
				text-decoration: none;
			}
		}
		.selected-content {
			border: 1px solid #ededed;
			padding: 1%;
		}


	}
	.menu {
		float: left;
		padding: 2% 0 0 2%;
		width: 17%;

		.menu-item {
			cursor: pointer;
			font-size: 1.5rem;
			margin-bottom: 15px;
		}
	}
}