.snipit-cta-btn {
    display: inline-block;
    padding: 6px;
    background-color: #F3F3F3;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

    .snipit-cta-btn.is-active {
        background-color: #FFFF9C;
    }

.snipit-snip {
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.snipit-is-active .snipit-snip:hover,
.snipit-snip.is-active {
  cursor:pointer;
  background-color: #FFFF9C;
  text-shadow: 1px 1px 0px #fff;
}