.snipit-cta-btn {
    display: inline-block;
    padding: 5px;
    background-color: #ccc !important;
    border: none;
    cursor: pointer;
}

.snipit-is-active .snipit-snip:hover {
  cursor:pointer;
  background-color: #e6eaf3;
  text-shadow: 1px 1px 0px #fff;
  text-decoration: none;
}