.snipit-list {
	margin: 15px 0; 

	.snipit-list-item {
		background-color: #fff;
		border-bottom: 1px solid #ededed;
		padding: 5px;
		-webkit-transition: background-color 1s;
		transition: background-color 1s;
		
		.action-icon {
			font-size: 16px;
			margin-right: 5px;
		}

		.content {
			color: #555;
			margin: 5px 0;
		}
	}

	.snipit-list-item.fade {
		background-color: #FFFF9C;
	}

}